{:zookeeper/address "n1:2181,n2:2181,n3:2181,n4:2181,n5:2181"
 :onyx/id "JEPSENONYXID"
 :onyx.bookkeeper/server? true
 :onyx.bookkeeper/port 3196
 :onyx.bookkeeper/ledger-ensemble-size 3
 :onyx.bookkeeper/ledger-quorum-size 3
 ;:onyx.bookkeeper/client-timeout 120000
 :zookeeper/server? false
 :zookeeper.server/port 2188}
