{:zookeeper/address "127.0.0.1:2188"
 :onyx.peer/job-scheduler :onyx.job-scheduler/greedy
 :onyx.messaging/impl :aeron
 :onyx.messaging/bind-addr "localhost"
 :onyx.messaging/peer-port 40200
 :onyx.bookkeeper/zk-ledgers-root-path "/ledgers"
 :onyx.bookkeeper/ledger-quorum-size 3
 :onyx.bookkeeper/ledger-password "INSECUREDEFAULTPASSWORD"
 :onyx.bookkeeper/client-timeout 60000
 :onyx.bookkeeper/client-throttle 30000
 :onyx.messaging.aeron/embedded-driver? true}
