{:zookeeper/address "n1:2181,n2:2181,n3:2181,n4:2181,n5:2181"
 :onyx/tenancy-id "JEPSENONYXID"
 :onyx.bookkeeper/server? true
 :onyx.bookkeeper/port 3196
 :onyx.bookkeeper/ledger-ensemble-size 3
 :onyx.bookkeeper/ledger-quorum-size 3
 :onyx.bookkeeper/zk-ledgers-root-path "/ledgers"
 :onyx.bookkeeper/client-timeout 60000
 :onyx.bookkeeper/client-throttle 30000
 :onyx.bookkeeper/delete-server-data? true
 :onyx.bookkeeper/ledger-password "INSECUREDEFAULTPASSWORD"
 :onyx.bookkeeper/ledger-id-written-back-off 50
 ;:onyx.bookkeeper/client-timeout 120000
 :zookeeper/server? false
 :zookeeper.server/port 2188}
